@media (max-width:575px){
    .smp__tabs_three_only .nav-tabs li{display:inline-block;width:32.3333%;}
    .smp__tabs_three_only .nav-tabs .nav-link{font-size:12px;}
    .smp__tabs_three_only .nav-link{padding:0.5rem;width:100%;}
}